<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\frees\Desktop\Moje\Programowanie\C#\Projekty\dksApp\dksApp.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>